# Qt Build System
/.ninja_log
/build.ninja
/.qt/
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/cmake_install.cmake
/config.opt
/config.opt.in
/config.summary
/doc/
/qtdoc_dummy_file.txt

# Qt Creator
build-*/
*.user

# Vim
.*.swp
