<?xml version="1.0"?>
<!--
  https://developer.oculus.com/documentation/native/android/mobile-native-manifest/
  https://developer.oculus.com/resources/publish-mobile-manifest/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    android:versionCode="-- %%INSERT_VERSION_CODE%% --"
    android:versionName="-- %%INSERT_VERSION_NAME%% --">
    <!-- %%INSERT_PERMISSIONS -->
    <!-- %%INSERT_FEATURES -->
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR"/>
    <uses-permission android:name="org.khronos.openxr.permission.OPENXR_SYSTEM"/>
    <uses-feature android:name="android.hardware.vr.headtracking" android:required="true" android:version="1" />
    <uses-feature android:glEsVersion="0x00030000" />
    <application android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:label="Quick3DXr Physics-base teleportation demo"
        android:requestLegacyExternalStorage="true" android:allowNativeHeapPointerTagging="false">
        <meta-data android:name="com.oculus.intent.category.VR" android:value="vr_only"/>
        <meta-data android:name="com.oculus.supportedDevices" android:value="all" />
        <activity  android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:configChanges="density|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|uiMode"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.oculus.intent.category.VR"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="org.khronos.openxr.intent.category.IMMERSIVE_HMD"/>
            </intent-filter>
            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --" />
        </activity>
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.qtprovider"
            android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/qtprovider_paths"/>
        </provider>
    </application>
</manifest>
